#game{
    width : 408px;
    height: 425px;
    justify-items: center;
    background-color: #30bf1a;
    border-collapse: collapse;

}

tr{
    margin: 0;
    padding:0;
}
td{
    border-radius: 20px;
    background-color: #ffffffc3;
    margin: 0;
    padding:0;
    width: 17px;
    height: 17px;
}

.snake{
    background-color: green;
}
.food{
    background-color: red;
}
.obs{
    background-color: #000000;
}

#score{
    position: relative;
    right: 150px;
    bottom: 10px;
}

#popup{
    position: absolute;
    justify-self: center;
    top: 170px;
    left: 164px;
    display: block;
    margin: 10px;
    color: #000000;
    border-style: none;

}

#avvia{
    margin: 0;
    border-radius: 20px;
    padding: 10px;
    border-style: none;

}
#avvia, #popup p{
    position: relative;
    justify-self: center;
    text-align: center;
    font-size: 1.25rem;
}

.inner-container{
    position: relative;
    top: -40px;
    justify-self: center;
}