#game{
    width : 408px;
    height: 425px;
    justify-items: center;
    background-color: #30bf1a;
    border-collapse: collapse;

}

tr{
    margin: 0;
    padding:0;
}
td{
    border-radius: 30px;
    background-color: #ffffffc3;
    margin: 0;
    padding:0;
    width: 17px;
    height: 17px;
}

.snake{
    background-color: green;
}
.food{
    background-color: red;
}
.obs{
    background-color: #000000;
}

#score, #timer{
    position: relative;
    right: 150px;
    bottom: 5px;
    color: white;
}

#popup{
    position: absolute;
    justify-self: center;
    align-self: center;
    justify-content: center;
    display: grid;
    margin: 10px;
    border-style: none;
    border-radius: 30px;
    background-color: #30bf1a;
    padding: 5px;

}

#avvia{
    margin: 0;
    top: -20px;
    border-radius: 30px;
    padding: 10px;
    border-style: none;
}

#avvia, #popup p{
    position: relative;
    justify-self: center;
    text-align: center;
    font-size: 1.25rem;
    color: black;
}

.inner-container{
    position: relative;
    top: -40px;
    justify-self: center;
    display: grid;
}

