.cx-container{
    display: grid;
    grid-template-rows: 25% 60% 15% ;
    margin: 0;
    justify-self: stretch;
    align-self: stretch;
}

#game{
    width : 408px;
    height: 425px;
    position: absolute;
    justify-items: center;
    background-color: #30bf1a;
    border-collapse: collapse;

}

tr{
    margin: 0;
    padding:0;
}
td{
    border-radius: 30px;
    background-color: #ffffffc3;
    margin: 0;
    padding:0;
    width: 17px;
    height: 17px;
}

.snake{
    background-color: green;
}
.head{
    background-color: #004000;
}
.food{
    background-color: red;
}
.obs{
    background-color: #000000;
}

#score, #timer{
    position: relative;
    margin: 0;
    color: white;
    left: 25%;
    top: 50%;
}

#popup{
    position: absolute;
    justify-self: center;
    align-self: center;
    justify-content: center;
    display: grid;
    margin: 10px;
    border-style: none;
    border-radius: 30px;
    background-color: #ffffffc3;
    padding: 5px 20px 5px 20px;

}

#avvia{
    margin: 0;
    top: -20px;
    border-radius: 30px;
    padding: 10px;
    border-style: none;
    background-color: #30bf1ac3;
}

#avvia, #popup p{
    position: relative;
    text-align: center;
    font-size: 1.25rem;
    color: black;
}

.game-container{
    justify-items: center;
    justify-content: center;
    display: grid;
}

.score-container{
    margin:0;
    display: grid;
    grid-template-columns: 50% 50%;
    align-self: start;
    justify-self: stretch;
}

.account-container{
    display: grid;
    grid-template-rows: 35% 30% 35%;
}

#account{
    display: grid;
    grid-template-rows: 40% 20% 40%;
    align-items: stretch;
    justify-items: center;
    grid-row: 2;
}

#account i{
    font-size: 5rem;
    color: green;
}
#user{
    font-size: 1.75rem;
    color: green;
    text-align: center;
    position: relative;
    top: -10px;
}
#setted{
    font-size: 1.25rem;
    color: green;
    text-align: center;
}
#space{
    font-size: 0.9rem;
    color: green;
    text-align: center;
}

.command-container p{
    margin: 6px;
    text-align: center;
    color: green;
    font-size: 1.25;
}

.command-container i{
    color: #004000;
    font-size: 1.75rem;
    margin: 2px;
}

.command-container span{
    border-radius: 5px;
    border: solid #004000;
    padding: 0.5px 5px 0.5px 5px;
    margin: 4px 2px 2px 2px;
    color: #004000;
    font-size: 0.9rem;
}