.inner-container{
    position: relative;
    top: -50px;
    font-size: 1.5rem;
}

.icon{
    position: absolute;
    right: 10%;
    top: 20px;
}

#classic, #warped, #obstacles{
    text-decoration: none;
    color: rgb(0, 0, 0);
    min-width: 60%;
    display: block;
    width: auto;
    height: auto;
    margin: 0px;
    background: #ffffff;
    padding: 17px;
    border-radius: 20px;
    text-align:left;
    font-size: 1.25rem;

}