.buttons{
    display: flex;
    justify-content: center;
    text-decoration: none;
}
.host-button{
    display: grid;
    justify-items: center;
    align-items: center;
}

#login, #signup, #host{
    display: block;
    margin: 10px;
    background: #ffffff;
    padding: 10px;
    text-align:center;
    border-radius: 30px;
    min-width: 40%;
    text-decoration: none;
    font-size: 1.75rem;
    position: relative;

}

#login:hover, #signup:hover, #host:hover{
    box-shadow: 0px 15px 0px #65e180;
    transition-property: box-shadow;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
    transition-delay: 0s;

}

#host{
    font-size: 1.25rem;
    top: -60px;
    margin: 15px 50px 15px 50px;
    max-width: 50%;
}
.cx{
    grid-template-rows: 50% 20% 20% 10%;
}




