form{
    display: grid;
    justify-items: center;
    align-items: stretch;
    position: relative;
    top: -100px;
}

input{
    margin: 10px;
    width: auto;
    border-radius: 20px;
    padding: 10px;
    text-align: left;
    border-style: none;
    font-size: 1.25rem;
}

#login{
    margin: 10px;
    border-radius: 20px;
    padding: 10px;
    text-align: center;
    border-style: none;
    font-size: 1.25rem;
}

#login:hover{
    box-shadow: 10px 10px 0px #65e180;
    transition-property: box-shadow;
    transition-duration: 0.2s;
    transition-timing-function: ease-out;
    transition-delay: 0s;
}

.access{
    display: grid;
}

#alert{
    justify-self: center;
    align-self: stretch;
    position: relative;
    top: -50px;
    
}
.showed{
    color: red;
    font-size: 0.75rem;
    display: block;
    border-radius: 20px;
    background-color: #ffffffb4;
    text-align: center;
    justify-items: center;
    padding: 5px;
}