@import url('https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');

*{
    font-family: "Kode Mono", monospace;
    font-weight: 600;
    font-style: normal;
    color: #30bf1a;
}
 
body{
    margin: 0px;
    width: 100vw;
    height: 100vh;
    margin: 0px;
}
.container{
    display: grid;
    grid-template-columns: 25% 50% 25%;
    align-items: center;
    justify-items: center;
    margin: 0px;
    width: 100%;
    height: 100%;
}

.sx{
    margin: 0px;
    grid-column: 1;
    width: inherit;
    height: inherit;
    background-color: #65e180;
    display: grid;

}

.cx{
    position: absolute;
    display: grid;
    align-items: center;
    justify-items: stretch;
    justify-content: center;
    grid-column: 2;
    margin: 0px;
    width: 50%;
    height: 100%;
    background: #30bf1a;

}

.dx{
    margin: 0px;
    grid-column: 3;
    width: inherit;
    height: inherit;
    background-color: #65e180;
    display: grid;
}

.gioco{
    font-size: 10rem;
    text-align:center;
    line-height: 0px;
    color: black;
    animation: titleAnimation 3s infinite;
}

.back{
    position: absolute;
    z-index: 1;
    top: 5%;
    left:15%;
    font-size: 1.1rem;
    color: #65e180;
    background-color: white;
    border-radius: 30px;
    border-style: none;
    padding: 10px;
    text-decoration: none;
    text-align: center;
}

.info{
    position: relative;
    top: 90%;
    left: 25%;
    border-radius: 30px;
    padding: 10px;
    border-style: none;
    text-align:center;
    font-size: 0.9rem;
   
}

.back:hover, .info:hover{
    box-shadow: 0px 0px 20px green;
    transition-property: box-shadow;
    transition-duration: 0.2s;
    transition-timing-function: ease-out;
    transition-delay: 0s;
}

@keyframes titleAnimation {
    0% {
        transform: translateY(0);
        color: black;
        font-weight: normal;
      }
      25% {
        transform: translateY(-10px);
        color: #555555;
        font-weight: bold;
      }
      50% {
        transform: translateY(0);
        color: black;
        font-weight: normal;
      }
      75% {
        transform: translateY(10px);
        color: #555;
        font-weight: bold;
      }
      100% {
        transform: translateY(0);
        color: #00000099;
        font-weight: normal;
      }
}

@keyframes titleAnimationHovered {
    0%, 100% {
        transform: translateX(0) translateY(0);
      }
      25% {
        transform: translateX(100px) translateY(0);
      }
      50% {
        transform: translateX(100px) translateY(100px);
      }
      75% {
        transform: translateX(200px) translateY(100px);
      }
}

.gioco:hover{
    animation: titleAnimationHovered 1s linear 0s infinite;
}