form{
    font-family: "Arial", sans-serif;
    display: grid;
    justify-items: center;
    align-items: stretch;
    position: relative;
    top: -50px;
}

input{
    margin: 10px;
    width: auto;
    border-radius: 30px;
    padding: 10px;
    text-align: left;
    border-style: none;
    font-size: 1.25rem;
}

.dati{
    display: grid;
}

#alert{
    justify-self: center;
    align-self: stretch;
    position: relative;
    top: -40px;
    
}
.showed{
    color: red;
    font-size: 0.75rem;
    display: block;
    border-radius: 30px;
    background-color: #ffffffb4;
    text-align: center;
    justify-items: center;
    padding: 5px;
}

#signup{
    margin: 10px;
    border-radius: 30px;
    padding: 10px;
    text-align: center;
    border-style: none;
    font-size: 1.5rem;
}

#signup:hover{
    box-shadow: 0px 15px 0px #65e180;
    transition-property: box-shadow;
    transition-duration: 0.2s;
    transition-timing-function: ease-out;
    transition-delay: 0s;
}

.input-container{
    position: relative;
}

#eye{
    position: absolute;
    right: 10%;
    top: 20px;
    font-size: 1.5rem;
}

@keyframes brrr {
    0%{
        transform:translateX(0px);
    }
    25%{
        transform:translateX(-5px);
    }
    50%{
        transform:translateX(5px);
    }
    75%{
        transform:translateX(-5px);
    }
    100%{
        transform:translateX(0px);
    }
    
}

.invalid{
    border-style:solid;
    border-color:red;

    animation: brrr 0.5s linear 0s 1;

}